* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  font-family: "Inter", sans-serif;
  background: black;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
}

section {
  margin: 25px 0px;
}

.loader {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}

.inline {
  display: flex;
  align-items: center;
}

.btn--refresh {
  color: white;
  padding: 10px;
  border-radius: 50%;
}

.btn--refresh:focus {
  transform: rotate(360deg);
}

.img--refresh {
  font-weight: 700;
  fill: white;
  height: 15px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.main-content-container {
  margin: 0 auto;
  width: 90%;
  display: grid;
  grid-template-columns: 45% 10% 45%;
  justify-items: center;
}

/* 

  NEWS

*/

.container--news {
  grid-column: 1/2;
  grid-row: 2/3;
}

.news-wrapper {
  border-radius: 5px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 100px 1fr;
  background-color: rgba(0, 0, 0, 0.4);
  width: 400px;
  margin: 20px 0px;
  transition: 0.2s;
}

.news-wrapper:hover {
  transition: 0.2s;
  transform: scale(1.1);
}

.news__info {
  padding: 10px;
}

.news__title {
  font-size: 16px;
  font-weight: 400;
}

.news__link {
  color: white;
  text-decoration: none;
}

.news__source {
  font-size: 12px;
  margin: 10px 0px;
  grid-column: 2/3;
  color: #cccccc;
}

.news__image {
  height: 100%;
  width: 100%;
}

.news__image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/* 

  DATE & TIME

*/

.container--date {
  grid-row: 1/2;
  grid-column: 1/4;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-heading {
  font-size: 1em;
  color: #aaaaaa;
}

.header-text {
  line-height: 1.5em;
  font-weight: 400;
  font-size: 2.5em;
}

.time {
  font-size: 2em;
  color: #dddddd;
}

/* 

WEATHER

*/

.container--weather {
  grid-column: 3/4;
}

.weather {
  margin: 20px 0px;
  padding: 20px;
  background-color: rgba(25, 25, 25, 0.5);
  border-radius: 5px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 100px 100px 1fr;
  grid-template-rows: 50px 50px 100px 1fr;
}

#weather__city {
  grid-row: 1/2;
  grid-column: 1/3;
  align-self: center;
}

#weather__condition {
  color: #aaaaaa;
  grid-row: 2/3;
  grid-column: 1/3;
  font-size: 20px;
}

#weather__icon {
  grid-row: 3/4;
  grid-column: 1/2;
  width: 100px;
  height: 100px;
}

#weather__temperature {
  grid-row: 3/4;
  grid-column: 2/3;
  text-align: center;
  justify-self: center;
  align-self: center;
}

#weather__current {
  font-size: 50px;
}

#weather__range {
  font-size: 20px;
  color: #aaaaaa;
}

.weather__row {
  margin: 10px 0px;
  display: flex;
  grid-column: 1/4;
  justify-content: space-between;
}

.weather__label {
  color: #aaaaaa;
}

.weather__data {
  color: #ffffff;
}

/* 

  QUOTE

*/

.container--quote {
  grid-column: 1/4;
  margin: 50px auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

.quote__content {
  font-size: 1em;
  line-height: 1.5em;
}

.quote__author {
  color: #dddddd;
  font-style: italic;
  font-size: 0.8em;
  margin: 10px 0px;
}

/* 

MEDIA QUERIES

*/

@media (max-width: 850px) {
  section {
    margin: 50px 0px;
  }

  .section-heading {
    font-size: 12px;
  }

  .main-content-container {
    display: block;
  }

  .header-text {
    font-size: 1.5em;
    text-align: center;
  }

  .time {
    font-size: 1.2em;
  }

  .news-wrapper {
    width: 100%;
  }

  .container--quote {
    justify-content: center;
  }
  .weather {
    width: 100%;
  }
}
